/* 
  Custom Overrides CSS
  Use this file to add raw CSS properties that override Ant Design or Tailwind defaults.
*/

/* Force the global header to be white, with a specific bottom box shadow */
.custom-global-header {
    background-color: #ffffff !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.03) !important;
    border-bottom: 1px solid #f3f4f6 !important;
}

/* Example: Customizing the avatar background if you want to change it from the default theme color */
.custom-avatar-bg {
    background-color: #14b8a6 !important;
}

.bg-soft-light{
    background-color: #dcecf7;
}

.learn-more-btn{
    color: #fff !important;
    background-color: #0a1f44 !important;
    padding:20px 25px !important;
border-radius: 30px !important;
font-weight: 700  !important;
}

.learn-more-btn:hover{
    border: 1px solid #0a1f44 !important;
}

.header-btn{
    background-color: #0a1f44 !important;
    border: none !important;
}

.header-btn:hover{
background-color:#0f4eb3 !important;
}

.list-btn{
    background-color: transparent !important;
    color: #fff !important;
}

.list-btn:hover{
    border: 1px solid #3b82f6 !important;
}

.txt-dark-blue {
color: #0a1f44 !important;
}

.btn-dark-scndry{
    color: #0a1f44 !important;
    border-radius: 30px !important;
    padding: 20px 30px !important;
font-weight: 700 !important;
background-color: #fff !important;
}

.btn-dark-scndry:hover{
    background-color: transparent !important;
    border: 1px solid #fff !important;
color: #fff !important;
}

.btn-hero-scndry:hover{
border: 1px solid #0a1f44 !important;
color: #0a1f44 !important;
}

.booknow-btn , .search-btn-s{
    background-color: #0a1f44  !important;
    color: #fff !important;
}

.txt-wht{
    color:#fff !important;
}